<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
      :object => ["/", "/personal"] %>
<% end -%>
<%= I18n.t('personal.index.personal_tab_intro')%>
<div class="button" id="edit-button"></div>

<div id="personal-user-tab"></div>


<script type="text/javascript">
  //<![CDATA[
  // obtain the xsl stylesheet
  xhr = new XMLHttpRequest();
  xhr.open("GET", "/personal/transform/user.xsl", true);
  xhr.onreadystatechange = function() {
    if (4 == xhr.readyState)
    {
      // the xsl processor for transformation
      var processor = new XSLTProcessor();
      processor.importStylesheet(xhr.responseXML);
      // update the document
      updateData(processor);
    }
  }
  xhr.send();

  function updateData(proc)
  {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/users/me", true);
    xhr.onreadystatechange = function() {
      if (4 == xhr.readyState)
      {
        xmlDoc = xhr.responseXML;
        // set the edit link
        userId = xmlDoc.documentElement.selectNodes(
          'attribute::id[/user]')[0].value;
        document.getElementById('edit-button').innerHTML =
          "<a href='/personal/edit?user_id=" + userId + "'>" +
          <%= "\"" + I18n.t('personal.index.edit_button_label') + "\""%> +
          "</a>";
        // process the data
        Sarissa.updateContentFromNode(xmlDoc,
          document.getElementById('personal-user-tab'), proc);
      }
    }
    xhr.send();
  }
  //]]>
</script>

